#texto-inicio{
    margin: 65px 20px 10px 20px !important;
    text-align: center;
}

#menu-superior{
    position: absolute;
    float: right;
    margin-left: 90%;
    margin-bottom: 20px;
    width: 10%;
    top: 10px;
    margin-right: 10%;
}

#btn-teste{
  margin: 0px auto;
  display: block;
}

#btn_voltar{
    right: 30px;
    bottom: 20px;
    position: sticky;
    float: right;
}

.card-img-top{
    margin: 10px auto 0px;
    border-radius: 0px 0px 50px 50px;
    width: 100px;
    height: 100px;
}

.card-title{
    text-align: center;
}

.col-sm-12{
    margin: 10px 10px;
    width: 90%;
}

#percentual{
    text-align: right;
    font-size:  11;
}

body{
    background-color: #f8f9fa;
}

.form-group{
    background-color: #dee2e6 !important;
}

.txt-resp{
    margin-left: 10%;
}

.btn-resp{
    width: 80%;
    margin: 0 auto;
}

.btn-salve{
    margin: 10px auto;
    display: block;
}